/// Aula 3 - Import PARTIAL (_footer.scss)

/* Este trecho de estilo refere-se ao rodapé */
.footer {
    text-align: center;
    padding: 20px 0;
    font-family: 'Edwardian Script ITC';
    // Esse trecho de estilo posiciona o rodapé na parte inferior da tela
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &__logo {
        max-width: 100px;
    }

    &__txt {
        margin: auto;
        @include fontSize(14px);
    }
}