        /* Paleta de cores */

                /***     COLORS DEFAULT  ***/
                $light-dark: #A0A0A0;
                $gray: #7f7f7f;
                $skin-color: #b09080;
                $brown: #7f5f4f;
                $orange: #c07050;
                $yellow: #cfbf4f;
                $red: #d03040;
                $purple: #BF6FCF;
                $pink: #cF7F9F;
                $blue: #3F7FAF;
                $green: #5F9F5F;
                
		/***	COLORS LIGHT	***/                
		$light: #F9F9F9;
                $light-gray: #CFCFCF;
                $light-skin-color: #E0C0B0;
                $light-brown: #BF8F7F;
                $light-orange: #EFBF8F;
                $light-yellow: #FFFF9F;
                $light-red: #FF9FAF;
                $light-purple: #EFAFFF;
                $light-pink: #FFAFCF;
                $light-blue: #AFDFFF;
                $light-green: #AFEFAF;
                
		/***	COLORS DARK	***/
                $dark: #191919;
                $dark-gray: #505050;
                $dark-skin-color: #604040;
                $dark-brown: #403020;
                $dark-orange: #903010;
                $dark-yellow: #807020;
                $dark-red: #501010; 
                $dark-purple: #600070;
                $dark-pink: #904060; 
                $dark-blue: #003060;
                $dark-green: #004000; 

		/***	COPYRIGHT	***/
                //      &copy; 

		/***	FONT-FAMILY	***/
		h1 {font-family: ''};
		h2 {font-family: ''};     
		h3 {font-family: ''};
		h4 {font-family: 'Edwardian Script ITC'};
		h5 {font-family: 'Courier New', Courier, monospace};	     
		h6 {font-family: ''};

		p {font-family: 'Courier New', Courier, monospace};

                /* Instalação do Saas:
                
                Basta rodar o comando abaixo no Terminal
                "npm install -g sass” */